{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="overlay-box p-5 text-white text-center text-md-start gy-4">
            <h1 class="logo-font display-4">
                About
            </h1>
            <br>
            <p>
                The About Us page is a section of your website that introduces your<br> 
                business to visitors. It's your opportunity to share your brand story,<br>
                explain your mission and values, and build trust with potential customers.<br>
            </p>
        </div>
    </div>
{% endblock %}