{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="overlay-box p-5 text-white text-center text-md-start gy-4">
            <h1 class="logo-font display-4">
                Contact Us
            </h1>
            <br>
            <p>
                <h4>Questions about your order:</h4>
                <span>Email: desla-orders@gmail.com</span>
                <br>
                <br>
                <h4>General questions:</h4>
                <span>Email: desla@gmail.com</span>
                <br>
                <br>
                <h4>Return address</h4>
                <span>Wathever</span>
                <span>Direction you want</span>
                <span>Berlin, 12055</span>
            </p>
        </div>
    </div>
{% endblock %}