{% load static %}
{% load i18n %}
<!-- Footer -->
<footer class="footer mt-auto py-3 {% if request.path == '/products/' or request.path == '/gallery/' %}text-black{% elif request.path == '/bag/' %}d-none{% else %}text-white{% endif %}">
    <div class="container">
        <div class="row text-center text-md-start gy-4">
            <div class="col-12 col-md-4">
                <p class="m-0">
                    Follow us: 
                    <a class="footer-link text-black ms-2" href="https://www.facebook.com/profile.php?id=61568340493717/" target="_blank" rel="noopener">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a class="footer-link text-black ms-2" href="https://www.twitter.com/" target="_blank" rel="noopener">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a class="footer-link text-black ms-2" href="https://www.instagram.com/" target="_blank" rel="noopener">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                    <a class="footer-link text-black ms-2" href="https://www.youtube.com/" target="_blank" rel="noopener">
                        <i class="fab fa-youtube-square"></i>
                    </a>
                </p>
            </div>
            <div class="col-12 col-md-4">
                <div class="font-weight-bold">
                    <a class="footer-link text-black" href="https://www.termsfeed.com/live/d28c4f75-f022-4eeb-ad6d-2b447db1a1e4" target="_blank" rel="noopener">
                        Privacy Policy
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="font-weight-bold">
                    <a class="footer-link text-black d-block mb-1" href="{% url 'contact' %}" target="_blank" rel="noopener">
                        Contact
                    </a>
                    <a class="footer-link text-black d-block" href="{% url 'about' %}" target="_blank" rel="noopener">
                        About
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
