{% load static %}
{% load i18n %}
<!-- Footer -->
<footer class="footer mt-auto py-3 {% if request.path == '/' %}text-white{% elif request.path == '/bag/' %}d-none{% else %}text-black{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="m-0 text-center">Follow us: 
                    <a class="text-black footer-link" href="https://www.facebook.com/profile.php?id=61568340493717/" target="_blank" rel="noopener">
                        <i class="fa-brands fa-square-facebook ms-3"></i>
                    </a>
                    <a class="text-black footer-link" href="https://www.twitter.com/" target="_blank" rel="noopener">
                        <i class="fab fa-twitter-square ms-3"></i>
                    </a>
                    <a class="text-black footer-link" href="https://www.instagram.com/" target="_blank" rel="noopener">
                        <i class="fab fa-instagram-square ms-3"></i>
                    </a>
                    <a class="text-black footer-link" href="https://www.youtube.com/" target="_blank" rel="noopener">
                        <i class="fab fa-youtube-square ms-3"></i>
                    </a>
                    <h6>Made by Felipe Nast</h6>
                </p>
            </div>
            <div class="col d-none d-md-block">
                <div class="m-0 text-center ">
                    <div class="font-weight-bold">
                        <a class="text-black footer-link" href="https://www.termsfeed.com/live/d28c4f75-f022-4eeb-ad6d-2b447db1a1e4" target="_blank" rel="noopener">
                            Privacy Policy
                        </a>
                    </div>
                </div>
            </div>
            <div class="col d-none d-md-block">
                <div class="m-0 text-center ">
                    <div class="font-weight-bold">
                        <a class="text-black footer-link" href="" target="_blank" rel="noopener">
                            Contact
                        </a>
                    </div>
                </div>
                <div class="m-0 text-center ">
                    <div class="font-weight-bold">
                        <a class="text-black footer-link" href="" target="_blank" rel="noopener">
                            About
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>